/* color palette */
:root {
  --gs-black-base: 33, 33, 33;
  --gs-white-1-base: 255, 255, 255;
  --gs-white-2-base: 249, 249, 249;
  --gs-green-1-base: 59, 117, 95;
  --gs-green-2-base: 175, 198, 189;
  --gs-green-3-base: 104, 115, 111;
  --gs-gray-base: 176, 176, 176;
  --gs-beige-base: 242, 235, 219;
  --gs-blue-base: 46, 58, 140;

  --gs-black: rgb(var(--gs-black-base));
  --gs-white-1: rgb(var(--gs-white-1-base));
  --gs-white-2: rgb(var(--gs-white-2-base));
  --gs-green-1: rgb(var(--gs-green-1-base));
  --gs-green-2: rgb(var(--gs-green-2-base));
  --gs-green-3: rgb(var(--gs-green-3-base));
  --gs-gray: rgb(var(--gs-gray-base));
  --gs-beige: rgb(var(--gs-beige-base));
  --gs-blue: rgb(var(--gs-blue-base));
}

/* semantic color variables for this project */
:root {
  --color-background: var(--gs-white-1);
  --color-card-background: var(--gs-white-2);

  --color-widget-bg-blue: var(--gs-blue);
  --color-widget-bg-green: var(--gs-green-1);
  --color-widget-bg-beige: var(--gs-beige);
  --color-widget-bg-white: var(--gs-white-1);
  --color-widget-bg-black: var(--gs-black);

  --color-widget-blue: var(--gs-white-2);
  --color-widget-green: var(--gs-white-2);
  --color-widget-beige: var(--gs-green-1);
  --color-widget-white: var(--gs-green-1);
  --color-widget-black: var(--gs-white-2);

  --color-text: var(--gs-black);
  --color-text-widget: var(--gs-green-1);
  --color-text-link: var(--gs-green-1);

  --color-border-grey: var(--gs-gray);
  --color-border-beige: var(--gs-beige);
  --color-border-green: var(--gs-green-2);
  --color-border-green-2: var(--gs-green-3);
  --color-border-black: var(--gs-black);

  --color-checkbox: var(--gs-white-2);
  --color-checkbox-bg: var(--gs-green-1);
  --color-checkbox-hover: var(--gs-green-2);

  --color-toggle-bg: var(--gs-white-2);
  --color-toggle-selected-bg: var(--gs-green-1);
  --color-toggle-hover: var(--gs-green-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  width: 100vw;
  height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
